* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 300ms;
}

html {
  background-color: #202020;
}

.inputs {
  width: 425px;
  height: 700px;
  background-color: #101010;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 15%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px #101010;
}
.inputs ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  display: grid;
  margin-top: 50px;
  flex-direction: column;
  gap: 2em;
  place-items: center;
}
.inputs ul li h1 {
  color: white;
  text-align: center;
  font-size: 21px;
}
.inputs ul li label {
  color: white;
}
.inputs ul li input[type=number] {
  margin-left: 5px;
  width: 30px;
  border-radius: 2px;
  outline: none;
  border: none;
}
.inputs ul li button {
  transition: 300ms;
  cursor: pointer;
  padding: 3px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}
.inputs ul li button:hover {
  color: #303030;
  box-shadow: 0 0 8px 3px #4ad66d;
  background-color: #4ad66d;
}
.inputs .outputs {
  transition: 300ms;
  width: 425px;
  margin: auto;
  height: 300px;
  position: relative;
  bottom: -3%;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  place-items: center;
}
.inputs .outputs ul {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 250px;
  margin: auto;
  gap: 1em;
  height: 250px;
  margin-left: 25px;
  flex-wrap: wrap;
}
.inputs .outputs ul li {
  width: 60px;
  height: 60px;
  background-color: #303030;
  border-radius: 8px;
  display: grid;
  place-items: center;
  font-size: 10px;
}

.other {
  width: 800px;
  height: 700px;
  background-color: #101010;
  position: absolute;
  right: 15%;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 8px 2px #101010;
  border-radius: 8px;
  top: 10%;
  margin: auto;
  bottom: 10%;
}
.other .totals {
  width: 400px;
  height: 550px;
  background-color: #303030;
  bottom: 5%;
  top: 5%;
  left: 5%;
  margin: auto;
  position: absolute;
  border-radius: 8px;
  display: grid;
  place-items: center;
}
.other .totals h1 {
  color: #4ad66d;
  text-align: center;
  font-size: 24px;
  margin-top: -110px;
}
.other .totals ul {
  width: 350px;
  height: 350px;
  display: flex;
  color: white;
  list-style-type: decimal;
  justify-content: space-evenly;
  gap: 2em;
  margin-top: -220px;
  flex-direction: row;
  flex-wrap: wrap;
}
.other .totals ul li {
  width: 75px;
  height: 75px;
  background-color: #202020;
  box-shadow: 0 0 8px 2px #202020;
  border-radius: 5px;
  display: grid;
  place-items: center;
  color: #4ad66d;
  font-size: 13px;
}
.other .specifiedCalculating {
  width: 300px;
  height: 550px;
  border-radius: 8px;
  background-color: #303030;
  top: 10.5%;
  right: 5%;
  margin: auto;
  position: absolute;
}
.other .specifiedCalculating h1 {
  color: #4ad66d;
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}
.other .specifiedCalculating h5 {
  margin-top: 20px;
  color: white;
  text-align: center;
  color: white;
  font-size: 13px;
}
.other .specifiedCalculating h5 span {
  color: #4ad66d;
}
.other .specifiedCalculating h5 p {
  display: inline-flex;
  color: orange;
}

@media (max-width: 1000px) {
  .inputs .outputs {
    opacity: 0;
  }
  .other {
    width: 600px;
  }
  .other .totals {
    width: 300px;
  }
}/*# sourceMappingURL=style.css.map */